body {
    background-color: rgb(255, 227, 185);
    text-align: left;
}

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

img {
    height: 500px;
    width: auto;
}

button {
    background-color: rgb(172, 255, 227);
    font-size: 18px;
    font-weight: bold;
}